.event-banner {
	height: 300px;
	width: 100%;
	background-color: var(--dark-blue);
	position: relative;
	margin-top: 20px;
	margin-bottom: 80px;
}

.event-banner__text {
	padding: 20px 80px;
	font-size: 24px;
	font-weight: 800;
	position: absolute;
	left: 50%;
	top: 0;
	color: var(--light-pink);
}

.event-banner__image {
	object-fit: cover;
	position: absolute;
	top: -10%;
	left: 32px;
	z-index: 1;
	height: 125%;
	width: 40%;
}

.map {
	height: 500px;
	width: auto;
}
